.black {
    color: #020405;
}

.bg-black {
    background-color: #020405;
}

.orange {
    color: #ed6825;
}

.bg-orange {
    background-color: #ed6825;
}

.white {
    color: #fff;
}

.bg-white {
    background-color: #fff;
}

body {
    font-family: sans-serif;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color-scheme: var(--tg-color-scheme);
}
#map { height: 450px; width: 100%; }
.logo {
    font-weight: bold;
    font-size: 36px;
    text-align: left;
    position: relative;
    width: fit-content;
    /*margin: 10px auto;*/
}

.logo #under-logo {
    display: inline;
    position: absolute;
    font-size: 20px;
    bottom: -20px;
    left: 0px;
    font-weight: 400;
}

section {
    /*border: 1px solid #fff;*/
    /*background: #020405;*/
    /*margin: 20px;*/
    /*padding: 20px;*/
}

#back-button {
    position: absolute;
    color: #000000;
    top: -30px;
    right: 15px;
    background: #fff;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    font-size: 43px;
    text-align: center;
    vertical-align: middle !important;
    font-stretch: extra-condensed;
}

#back-button-address {
    position: absolute;
    color: #000000;
    top: -30px;
    right: 15px;
    background: #fff;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    font-size: 43px;
    text-align: center;
    vertical-align: middle !important;
    font-stretch: extra-condensed;
}
.back-orange{
    width: 100%;
    height: 83px;
    background: #F16522;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

#step1-select-city,
#step2-select-dot {
    margin-top: 40px;
    width: 100%;
    height: 510px;
    /*min-height: 40vh;*/
    background: #fff;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    text-align: left;
}

#step1-select-city .select-wrapper,
#step2-select-dot .select-wrapper {
    position: relative;
}


.hamburger-menu {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #000;
    font-size: 30px;
    cursor: pointer;
    border: none;
    background: none;
    padding: 10px 20px;
}
.popup__adress{
    display: flex;
    margin-top: 12px;
    width: 100%;
    height: 67px;
    border-radius: 10px;
    box-shadow: 0px 3px 12px 0px #0000001A;
}
.popup__adress-contacts{
    display: flex;
    width: 100%;
    margin-top: 30px;
    flex-direction: row;
    margin-top: 38px;
    padding-left: 18px;
    align-items: center;
}
.popup__adress-contacts svg{
    display: flex;
   margin-right: 10px;
}

.popup__adress-phone{
display: flex;
align-items: center;
justify-content: center;
font-size: 14px;
font-weight: 550;
line-height: 15.81px;
text-align: left;
color: #000;
margin-right: 53px;
}
.popup__adress-time{
    display: flex;
align-items: center;
justify-content: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 13.93px;
    text-align: left;
    color: #000;
    
    }
    .popup__bonuses{
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        height: 170px;
        border-radius: 15px;
        padding: 20px;

        background: #F16522;
    }
    .popup__bonuses h2{
        margin-top: -10px;
        display: flex;
        align-items: center;
       color: #000;
       border-bottom: 2px solid #000;
font-size: 20px;
font-weight: 700;
line-height: 23.88px;
text-align: left;
height: 40px;

    }
    .popup__bonuses h2 svg{
      margin-left: 30px;
     }
     .popup-ref-program{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 15px;
        background: #FF7431;
        max-height: 120px;
        position: relative;
    }
    .popup-ref-program h2{
        margin-top: 20px;
        margin-left: 20px;
        display: flex;
font-size: 16px;
font-weight: 700;
line-height: 17.91px;
text-align: left;
color: #fff;
border: none;

    }
    .popup-ref-program p{
        margin-top: 0;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        font-weight: 700;
        line-height: 13.93px;
        text-align: left;
color: #000;
border: none;

    }
    #popup-ref{
        position: absolute;
        right: 20px;
        top: 20px;
    }
    #popup-ref p{
font-size: 22px;
font-weight: 700;
line-height: 23.88px;
text-align: left;
color: #fff;

    }
    .popup-ref-program span{
        margin-top: 10px;
        display: flex;
font-size: 12px;
font-weight: 400;
line-height: 13.93px;
text-align: left;

        
color: #000;
border: none;

    }
    .popup-history{
        display: flex;
        min-width: 115%;
        margin-left: -20px;
        height: 50px;
        border-radius: 10px;
        box-shadow: 0px 3px 12px 0px #0000001A;
        margin-top: 40px;
        position: relative;
    }
    .popup-history h2{
        display: flex;
        border: none;
font-size: 18px;
font-weight: 550;
line-height: 19.76px;
text-align: left;
margin-top: 5px;
margin-left: 15px;

    }
    .popup-history svg{
        display: flex;
        position: absolute;
        top: 17px;
        right: 15px
    }
.side-panel {
    height: 100%;
    width: 0; /* Panel width is zero initially */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s; /* Smooth transition for sliding effect */
    padding-top: 60px;
}
.popup__phone{
display: flex;
background-color: #000;
width: 100%;
color: #fff !important;
height: 75px;
min-height: 75px;
align-items: center;
}
.popup__phone p{
    display: flex;
    color: #fff;
    font-size: 18px;
font-weight: 700;
line-height: 19.9px;
text-align: left;
margin-top: 42px;

}
.side-panel a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 50px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.side-panel a:hover {
    color: #f1f1f1;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}



.select__where{
    border: 2px solid #000;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    margin-top: 10px;
    min-height: 32px;
}
.select__all{
    width: 50%;
    color: #000;
    background: none;
    display: flex;
    display: flex;
    text-align: center;
    min-height: 32px;
    align-items: center; /* Adds vertical alignment */
    justify-content: center; /* Also center horizontally if needed */
}
.select__all.active{
    color: #fff;
    border-radius: 50px;
    background: #000;
}
.select-wrapper{
    margin-top: 10px;
    display: flex;
    width: 100%;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.select-wrapper #address-list{
    margin: 0 auto;
    padding: 0;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
}
.select-wrapper #address-list li{
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    padding-left: 8px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0px 4px 15px 0px #0000001A;
    height: 40px;
    text-align: left;
font-size: 14px;
font-weight: 400;
line-height: 17.91px;
text-align: left;

}

.select-wrapper #address-list li.selected{
    background-color: #F16522;
    color: #fff;
}

.city-select{
    display: flex;
    margin-top: 20px;
    width: 90%;
    height: 78px;
    border: 2px solid #000;
    border-radius: 15px;
    position: relative;
}
.city-select svg{
    display: flex;
    position: absolute;
    top: 31px;
    right: 15px;

}
.city-select__title{
margin-top: 28px;
margin-left: 15px;
font-size: 24px;
font-weight: 550;
line-height: 23.71px;
text-align: left;
color: #000;
}
#additionalOptions {
    font-size: 14px!important;
    display: block !important;
    flex-direction: column !important;
}

#step1-select-city .select-wrapper:after,
#step2-select-dot .select-wrapper:after {
    content: '<>';
    font: 13px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 6px;
    top: 7px;
    padding: 0 0 2px;
    /* border-bottom: 1px solid #999; */
    position: absolute;
    pointer-events: none;
}

#step1-select-city .select-wrapper select,
#step2-select-dot .select-wrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    height: auto;
    float: right;
    margin: 0px 0px;
    padding: 0px 10px;
    font-size: 16px;
    line-height: 1.75;
    background-color: #ffffff;
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;
    border-radius: 20px;
    border-color: #ed6825;
}

#step1-select-city .select-wrapper select::-ms-expand,
#step2-select-dot .select-wrapper select::-ms-expand {
    display: none;
}

#step1-select-city .select-wrapper select:focus,
#step2-select-dot .select-wrapper select:focus {
    outline: none;
}

#step1-select-city .select-wrapper select option,
#step2-select-dot .select-wrapper select option {
    color: inherit;
    background-color: #d5d5d5;
}

#step1-select-city h1,
#step2-select-dot h1 {
    font-weight: 500;
    margin: 0 0 20px 0;
}

#step3-menu {
    margin: 80px 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#step3-menu .item {
    display: flex;
    position: relative;
    width: 48%;
    height: 430px;
    margin-bottom: 20px;
    background-color: #fff;
    text-align: center;
    flex-direction: column;
    border-radius: 17px;
    cursor: pointer;
    box-shadow: 0px 4px 15px 0px #0000001F;
}

#step3-menu .item .item-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#step3-menu .img {
    height: 150px;
    background-image: url("https://beercity42.ru/wp-content/uploads/2020/11/shaurma-klassicheskaya1.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 0;
    margin-bottom: 10px;
}

#step3-menu p {
    margin-bottom: 10px;
    color: black;
    font-size: 14px;
}
.item-footer .item__title{
margin-top: 12px;
margin-left: 15px;
font-size: 16px;
font-weight: 700;
line-height: 15.92px;
text-align: left;
}
.item-footer .item__descr{
    margin-top: 10px;
    display: flex;
    min-width: 79%;
    max-width: 85%;
    margin-left: 15px;
    color: #4B4B4B !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;

    }
#step3-menu button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0 0 15px 15px;
font-size: 16px;
font-weight: 550;
line-height: 15.81px;

}
.item__sizes {
    width: 80%;
    display: flex;
    position: absolute;
    bottom: 36px;
    flex-direction: row;
    padding: 0;
    margin: 0 auto;
    justify-content: space-between;
    left: 50%;              /* Переместить начало элемента на середину родителя */
    transform: translateX(-50%); /* Сместить элемент на 50% его ширины обратно, чтобы центрировать точно */
}

.item__size{
    padding: 0;
    margin: 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.size__label{
font-size: 16px !important;
font-weight: 700 !important;
line-height: 15.92px !important;
text-align: left !important;
color: #F16522 !important;

}
.size__weigh{
    margin: 0;
    margin-top: -10px;
    padding: 0;
    text-align: left !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 17.09px !important;
    color: #4B4B4B !important;

}
.size__price{
    margin: 0;
    margin-top: -10px;
    padding: 0;
    text-align: left !important;
font-size: 15px !important;
font-weight: 600 !important;
line-height: 20.21px !important;
}
#step3-1-select-product {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.product__image{
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
}
.product__title{
    display: flex;
font-size: 28px;
font-weight: 700;
line-height: 31.84px;
text-align: left;
margin-top: 250px;
margin-left: 15px;
color: #000;
}
.product__descr{
    display: flex;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
margin-top: 15px;
margin-left: 15px;
color: #4B4B4B;
}
#step3-1-select-product b {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.74px;
    text-align: left;
    margin: 5px 5px 0 15px;
    display: flex;
    color: #F16522;
}

#step3-1-select-product .option {
    margin-top: 25px;
    background: #FFF;
    border-radius: 15px;
    color: #000;
    padding: 1px;
    box-shadow: 4px 4px 9px #00000047;
} 

.size-option div{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8px;
    right: 8px;
    max-height: 34px;
    align-items: center;
    padding: 0;
    justify-content: center;
}

/* #step3-1-select-product .option p {
    background: #000;
    color: #ed6825;
    height: 30px;
    min-width: 37px;
    width: max-content;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    margin: 0;
    margin-left: 10px;
    border-radius: 10px;
    padding: 7px;
} */
.size-price{
font-size: 15px !important;
font-weight: 600;
line-height: 24.21px;
text-align: right;
color: #000;
margin: 0;
padding: 0;

}
.size-weight{
font-size: 10px !important;
font-weight: 400;
line-height: 17.09px;
text-align: right;
    color: #8D8D8D;
    margin: 0;
    padding: 0;

    }
.size-option{
    display: flex;
    padding-left: 10px;
    align-items: center;
    position: relative;
    flex-direction: row;
    background: #fff;
    color: #ed6825;
    height: 50px;
    border: 2px solid #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    margin: 0;
    border-radius: 15px;
}
.size-option:nth-child(1) {
    min-width: 22%;
    max-width: 22%;
    margin-right: 5px;
}

.size-option:nth-child(2) {
    min-width: 28%;
    max-width: 28%;
    margin-right: 5px;

}

.size-option:nth-child(3) {
    min-width: 34%;
    max-width: 34%;
}

.size-option .size-option{
    height: 50px;
    display: flex;
    flex-direction: column;
}
.modifiers__title{
font-size: 16px;
font-weight: 550;
line-height: 17.78px;
text-align: left;
margin-left: 5px;
}
.modifiers__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
}

#step3-1-select-product .option p.additional-option {
    font-size: 15px;
    font-weight: 600;
    line-height: 24.21px;
    text-align: left;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    width: max-content;
    height: 30px;
    border-radius: 10px;
    margin: 0;    
    box-shadow: 0px 3px 12px 0px #0000001A;
    margin-right: 10px;
}
.modifiers__price{
    font-weight: 400;
    color: #8D8D8D;
}

#step3-1-select-product .option p.active {
    background: #F16522;
    color: #fff;
}
#step3-1-select-product .option p.active .modifiers__price {
    background: #F16522;
    color: #fff;
}
#step3-1-select-product .option .size-option.active {
    background: #F16522;
    color: #fff;
    border:2px solid #F16522
}
#step3-1-select-product .option .size-option.active div {
    background: #F16522;
    color: #fff;
}
#step3-1-select-product .option .size-option.active div p{
    background: #F16522;
    color: #fff;
}
#step3-1-select-product .option .options {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
}

#step4-basket {
    margin: 20px;
    margin-top: 50px;
}

#step4-basket .el {
    display: flex;
    flex-direction: column;
    color: #000;
    margin-bottom: 30px;
}

#step4-basket h3 {
    margin-top: -30px;
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 31.84px;
    text-align: left;
}

#step4-basket .el .top {
    display: flex;
    position: relative;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    font-size: 20px;
    align-items: center;
    padding: 0 10px;
    height: 147px;
}

#step4-basket .el .top .top__image{
    display: flex;
    position: absolute;
    top:0;
    left: 0;
    width: 70px;
    height: 70px;
    border-radius: 10px;
}
#step4-basket .el .top .title{
    display: flex;
    margin-right: 10px;
font-size: 18px;
font-weight: 700;
line-height: 17.91px;
text-align: left;
}
#step4-basket .el .top .top__name{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:15px;
    left: 80px;
font-size: 18px;
font-weight: 700;
line-height: 17.91px;
text-align: left;
}
#step4-basket .el .top .top__descr{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:50px;
    left: 80px;
    max-width: 80%;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #4B4B4B;

    
}
#step4-basket .el .top .price{
    display: flex;
    position: absolute;
    bottom:0px;
    right: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28.48px;
    text-align: left;
    color: #F16522;
}


#step4-basket .el .additional {
    display: flex;
    max-width: 70px;
    flex-direction: column;
    position: absolute;
    left: 75px;
    bottom: -8px;
    background: none;
    font-size: 10px;
    align-items: center;
}

#step4-basket .el .additional p {
    margin: 6px 0;
    background: none !important;
font-size: 10px;
font-weight: 400;
line-height: 17.09px;
text-align: left;
color: #000 !important;
}

#step4-basket .el .el-size {
    color: #ed6825;
    margin-right: 8px !important;
    display: flex;
font-size: 18px;
font-weight: 700;
line-height: 17.91px;
text-align: left;
}
#step4-basket .el .el-weight {
    color: #4B4B4B;
    display: flex;
    margin-top: 10px !important;
font-size: 12px;
font-weight: 400;
line-height: 11.94px;
text-align: left;

}
#step4-basket .el .controllers {
    display: flex;
    position: absolute;
    bottom:7px;
    right: 80px;
}


#step4-basket .el .additional-list {
    color: #ed6825;
    background: #000;
    display: block;
    padding: 6px;
    border-radius: 23px;
}

#step4-basket .el .top p {
    margin: 5px 0;
}

#step4-basket button {
    background-color: #fff;
    border: none;
    color: #ed6825;
    font-size: 17px;
    font-weight: 600;
    border-radius: 7px;
}
.sum{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-top: 2px solid #000;
    height: 60px;
}
.sum__text{
    font-size: 16px;
    font-weight: 700;
    line-height: 17.91px;
    text-align: left;
    color: #000;
}
.sum__value{
    font-size: 16px;
    font-weight: 700;
    line-height: 17.91px;
    text-align: left;
    color: #F16522;

}
.adress_deliv{
    display: flex;
    max-height: 45px;
    flex-direction: column;
font-size: 16px !important;
font-weight: 700;
line-height: 17.91px;
text-align: left;

   
}
.adress_deliv p{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.91px;
    text-align: left;
    color: #E75814;

}
.pickup_time{
    margin-top: 40px !important;
    display: none;
    flex-direction: column;
}
.time_pick{
    display: flex;
    max-height: 45px;
    flex-direction: column;
font-size: 16px !important;
font-weight: 700;
line-height: 17.91px;
text-align: left;
}
.time_pick select{
    display: flex;
    min-height: 38px; 
    padding-left: 20px;
font-size: 16px;
font-weight: 400;
line-height: 17.91px;
border: none;
text-align: left;
color: #E75814;
background: transparent; /* Makes the background transparent */
border: 2px solid black; /* Optional: removes the border */
appearance: none; /* Hides the default dropdown arrow in some browsers */
-webkit-appearance: none; /* Hides the default dropdown arrow in Safari and Chrome */
-moz-appearance: none; /* Hides the default dropdown arrow in Firefox */
}
.pay_method{
    display: none;
    flex-direction: column;
    
}
.pay_method h3{
    display: flex;
    max-height: 45px;
    flex-direction: column;
font-size: 16px !important;
font-weight: 700;
line-height: 17.91px;
text-align: left;
}
.pay_method h3 select{
    display: flex;
    min-height: 38px; 
    border-radius: 15px;
    padding-left: 20px;
font-size: 16px;
font-weight: 400;
line-height: 17.91px;
border: none;
text-align: left;
color: #E75814;
background: transparent; /* Makes the background transparent */
border: 2px solid black; /* Optional: removes the border */
appearance: none; /* Hides the default dropdown arrow in some browsers */
-webkit-appearance: none; /* Hides the default dropdown arrow in Safari and Chrome */
-moz-appearance: none; /* Hides the default dropdown arrow in Firefox */
}
.el-bonus{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 2px solid #E2E2E2;
    height: 90px;
    margin-top: 40px;
}
.el-bonus .top {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.el-bonus .additional {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.el-bonus .additional p {
    margin-top: 2px;
    font-size: 12px;
    font-weight: 400;
    line-height: 13.93px;
    text-align: left;
    color: #000;
}
/* CSS */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px; /* Half of the height to make it rounded */
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #ff6600; /* Orange color */
}

input:checked + .slider:before {
    transform: translateX(20px); /* Move the knob to the right end */
}

/* Optional: styling for the round switch */
.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

.el-bonus .top .title{
    font-size: 16px;
    font-weight: 700;
    line-height: 17.91px;
    text-align: left;
    color: #000;
}
.el-bonus .top .price{
    font-size: 16px;
    font-weight: 700;
    line-height: 17.91px;
    text-align: left;
    color: #F16522;

    
}
.sum-total{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 50px;
    border-bottom: 2px solid #000;
    width: 100%;
    justify-content: end;
}
.sum-total-pure{
font-size: 12px;
font-weight: 400;
line-height: 13.93px;
text-align: right;
color: #F16522;
margin-bottom: 10px;

}
.sum-total-bonuses{
    font-size: 12px;
    font-weight: 400;
    line-height: 13.93px;
    text-align: right;
    color: #F16522;
    margin-bottom: 10px;

    }
.sum-total-get-bonuses{
    font-size: 12px;
    font-weight: 400;
    line-height: 13.93px;
    text-align: right;
    color: #F16522;
    margin-bottom: 20px;

    }
    .sum-total1{
        display: flex;
        flex-direction: column;
        position: absolute;
        top:0px;
        left: 0px;
        margin-top: 50px;
        width: calc(100% - 20px);
        justify-content: end;
    }
    .sum-total-pure1{
    font-size: 12px;
    font-weight: 400;
    line-height: 13.93px;
    text-align: left;
    color: #000;
    margin-bottom: 10px;
    
    }
    .sum-total-bonuses1{
        font-size: 12px;
        font-weight: 400;
        line-height: 13.93px;
        text-align: left;
        color: #000;
        margin-bottom: 10px;
    
        }
    .sum-total-get-bonuses1{
        font-size: 12px;
        font-weight: 400;
        line-height: 13.93px;
        text-align: left;
        color: #000;
        margin-bottom: 20px;
    
        }
    .sum-total-total{
        display: flex;
        flex-direction: row;
        margin-top: 0px;
        max-height: 40px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .sum-total-total h2{
font-size: 22px;
font-weight: 700;
line-height: 23.88px;
text-align: left;
color: #000;
    }
    .sum-total-total-sum{
font-size: 22px;
font-weight: 700;
line-height: 34.18px;
text-align: left;
color: #F16522;

    }
#step_confirm {
    text-align: center;
    font-size: 19px;
}

#step3-menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#payBtn {
    position: absolute;
    font-size: 0;
}
#payment_method {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}
#step6-confirm{
    padding: 0;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 171px;
    border-radius: 0 0 15px 15px;
    background: #F16522;
    position: absolute;
    top: 0;
    left: 0;
}
#step6-confirm h2{
    margin-top: 0;
font-size: 36px;
font-weight: 700;
line-height: 43.78px;
text-align: center;

}
#step6-confirm div{
    margin-top: -15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   width: 95%;
   height: 74px;
   border-radius: 15px;
    background: #000;

    }
#step6-confirm div p{
font-size: 22px;
font-weight: 700;
line-height: 23.88px;
text-align: left;
margin-left: 15px;
}
#step6-confirm div span{
    font-size: 36px;
font-weight: 700;
line-height: 47.76px;
text-align: left;
margin-right: 15px;

    }
    .step6cart{
        display: flex;
        flex-direction: column;
    }
.step6cart-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #E2E2E2;
    border-bottom: 2px solid #E2E2E2
}
.step6cart p{
    font-size: 16px;
    font-weight: 700;
    line-height: 17.91px;
    text-align: left;
    color: #000;
}
.step6cart-items{
    flex-direction: column;
}
.sum-total-div{
    display: flex;
    position: relative;
}
.rotated {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.not-rotated {
    transform: rotate(0deg);
    transition: transform 0.3s;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    visibility: hidden;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

